.navBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 0 16px;
  background: #fb7299;
  transition: opacity .3s, transform .3s;
  border-bottom: 1px solid white;

  .goBackIcon {
    left: 16px;
    position: absolute;
    color: white;
  }

  .title {
    color: white;
  }
}
