.container {
  .wrapper {
    padding: 16px;
    height: calc(100vh - 56px);
    overflow: auto;
    // 往下一点的状态
    transform: translateY(0);
    transition: transform .3s;

    // 正常状态
    &.hidden {
      height: 100vh;
      transform: translateY(-56px);
    }

    .content {
      h2 {
        margin-top: 150px;
      }
    }
  }
}
