@use "utils";

.container {
  height: 100vh;

  .banner {
    width: 100%;
  }

  .wrapper {
    height: calc(100vh - 56px);
    overflow: auto;
    // 往下一点的状态
    transform: translateY(0);
    transition: transform .3s;

    @include utils.hideScrollBar;

    // 正常状态
    &.hidden {
      height: 100vh;
      transform: translateY(-56px);
    }

    .content {
      padding: 16px;

      h2 {
        margin-top: 150px;
      }
    }
  }
}
