@use "utils";

body {
  @include utils.hideScrollBar;
}

.container {
  height: 100vh;
  background: #fb7299;
  color: white;

  .line {
    top: 50%;
    position: fixed;
    transform: translateY(-50%);
    height: 4px;
    background: red;
    width: 100%;
    z-index: 3;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(0);
    z-index: 2;
    transition: transform .3s;

    &.collapse {
      transform: translateY(-56px);
    }
  }

  .banner {
    width: 100%;
  }

  .wrapper {
    height: 100%;
    overflow: auto;
    // 往下一点的状态
    transform: translateY(0);
    transition: transform .3s;

    @include utils.hideScrollBar;

    .content {
      padding: 16px;

      h2 {
        margin-top: 100px;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64px;
    }
  }
}
