.priceNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #ddd;
  overflow: hidden;

  .numberDisplay {
    .digitWrapper {
      margin-right: 12px;
      color: white;
      position: relative;
      display: inline-block;
      width: 54px;
      height: 82px;
      background: blue;
      font-size: 62px;
      line-height: 82px;
      text-align: center;
      //overflow: hidden;

      &:last-child {
        margin-right: 0;
      }

      // 垂直写法
      //writing-mode: vertical-lr;
      //text-orientation: upright;

      .digit {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: transform .3s;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
