.list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  li {
    height: 56px;
    width: 300px;
    margin-bottom: 12px;
    background: #ddd;
  }
}
